*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
    height: 100vh;
    background-color: lightblue;
    font-family: sans-serif;
  }
  
  .heading {
    font-size: 50px;
  }
  
  .score {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15rem; */
  
  }
  
  .choice {
    height: 25vh;
    display: flex;
    justify-content: center;
  }
  
  .computer-hand {
    width: 250px;
  }
  
  .user-hand {
    width: 250px;
  }
  